name: Deploy Static HTML to Azure Web App - app-frontend-01

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4 # This checks out your index.html file

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_AB14FE14B0604BDCBCAC60A881C9F208 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E892AF36A9B54EA5AB00B973088AEC53 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D401C32C9501435F91099AE259AF860C }}
          
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app-frontend-01'
          slot-name: 'staging'
          package: '.' # This deploys all files from the root of the repository
